<div id="gallery" class="gallery">

    <section>
        <ul class="grid">
            <li class="grid-sizer"></li>

            {% for item in site.pages %}
            {% if item.category contains page.identifier %}
            <li class="item">
                <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.gallery_item.photo_caption }}">
                    <figure>
                        <img src="{{ site.baseurl }}/pages/{{ item.category }}/img/{{ item.gallery_item.photo }}" alt="{{ item.gallery_item.photo.alt }}"/>
                        <figcaption>
                            {% if item.gallery_item.header != null %}
                            <h3>{% if item.gallery_item.data != null %}{{ item.gallery_item.data }}{% endif %}<small>{{ item.gallery_item.header }}</small></h3>
                            {% endif %}
                            <p>{{ item.gallery_item.caption }}</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>

</div>

<script src="{{ "/static/js/vendor/masonry.pkgd.min.js" | prepend: site.baseurl }}" ></script>

<script>

var container = document.getElementById('gallery');
var msnry = new Masonry( container, {
  itemSelector: 'li',
  columnWidth: container.querySelector( '.grid-sizer' ),
  gutter: 10
});

</script>