{%comment%}
    parameters:
    depth
{%endcomment%}

{% comment %} Navigation item has a (url)depth and an (item)order {% endcomment %}

        {% assign sorted_pages = (site.pages | sort: 'order') %}

        {% for item in sorted_pages %}
        {% assign depth = (item.url | replace:  '/' , ' ' | number_of_words) %}

          {% if item.order and depth == include.depth %}

            {% if depth > 1 %}
              {% comment %}
                  This is sub navigation
              {% endcomment %}

              {% assign url_array = (page.url | split: '/') %}
              {% assign parent = (url_array[1]) %}
              {% if item.url contains parent %}
                 {% include nav-link.html %}
              {% endif %}

            {% else %}
              {% comment %}
                  This is main navigation
              {% endcomment %}
              {% include nav-link.html %}

            {% endif %}
          {% endif %}
        {% endfor %}