/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper-wide {
        background-color: #fff;
        opacity: 0.8;
        -moz-box-shadow:    0 3px 2px 0 #ccc;
        -webkit-box-shadow: 0 3px 2px 0 #ccc;
        box-shadow:         0 3px 2px 0 #ccc;
        border-top: 1px solid #eee;

    }
}

.site-title {
    background: url("../images/okfest-logo.svg") no-repeat 50% 20px;
    background-size: 250px 94px;

    font-family: $heading-font-family;
    font-size: $large-font-size;
    text-transform: uppercase;

    line-height: 56px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 8px;
    text-align: center;
    display: block;

    border-bottom: 2px solid $link-color-dark;

    strong {
        color: $link-color-light;
    }

    span {
        text-indent: -999em;
        clear: left;
        display: block;
        margin-bottom: 60px;

        letter-spacing: 2px;

        &,
        &:visited {
            color: $link-color-light;
        }
    }

    &,
    &:visited,
    &:hover {
        color: $link-color-dark;
    }

    @include media-query($on-palm) {
        line-height: 1.2;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        span {
            clear: left;
            display: block;
        }
    }

}

.site-nav {
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-family: $heading-font-family;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $link-color-dark;
        line-height: $base-line-height;
        white-space: nowrap;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            color: $link-color-light;
        }
    }

    .current {
        color: $link-color-light;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.sub-nav {

    margin-left: 86px;
    text-transform: uppercase;

    a {
        color: #fff;
        padding: 5px;

        &.current {
            color: #fff !important;
        }

        @each $section in $sections {
            .#{nth($section, 1)} & {
                color: nth($section, 2);
            }

            .#{nth($section, 1)} &.current {
                background-color: nth($section, 2);
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {

    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    @each $section in $sections {
      .#{nth($section, 1)} .post-title,
      .#{nth($section, 1)} .post-description {
        color: nth($section, 2);
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {

    &:before {
        background-repeat: no-repeat;
        display: block;
        content: '';
        height: 68px;
        width: 82px;
        position: absolute;
        margin-left: -88px;
        margin-top: 1px;
    }

    @each $section in $sections {
        .#{nth($section, 1)} &:before {
            background-image: url("/static/images/icon-#{nth($section, 1)}.svg");
        }

        .index .#{nth($section, 1)} &:before {
            background-image: url("/static/images/icon-white-#{nth($section, 1)}.svg");
        }
    }
}

.post-title {
    font-size: $xlarge-font-size;
    letter-spacing: 1px;
    line-height: 1em;
    padding-bottom: 0.13em;
    margin-left: 90px;

    border-bottom: 3px solid;

    @include media-query($on-palm) {
        font-size: 36px;
    }

}

.section {

    & .section-wrapper {
        @each $section in $sections {
            .#{nth($section, 1)} & {
                background-color: nth($section, 2);
            }
        }

        display: block;
        overflow: hidden;
        -webkit-box-shadow: 0 8px 6px -6px #605E5E;
        -moz-box-shadow: 0 8px 6px -6px #605E5E;
        box-shadow: 0 8px 6px -6px #605E5E;
    }

    & .section-link {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
        display: block;

        &:hover {
            opacity: 0.7;
        }

        @each $section in $sections {
            .#{nth($section, 1)} & {
                background-image: url("/static/images/header-#{nth($section, 1)}.png");
            }
        }
    }

    .post-title {
        border-bottom: none;
        color: #fff !important;
        float: left;
        margin-bottom: 0;

        @include media-query($on-palm) {
            float: center;
        }

        & {
            line-height: 1.4em;
            padding-bottom: 0;
            padding-left: 40px;
        }

        &:before {
            margin-top: 5px;
        }

    }

    .post-description {
        color: #fff !important;
        float: right;
        margin: 0 20px 0 0;
        line-height: 78px;

        @include media-query($on-palm) {
            margin: 0 0 0 90px;
            line-height: 20px;
            float: left;
        }
    }
}

.post-description {
    margin-left: 90px;
    margin-top: -0.7em;
}

.post-content {
    margin-bottom: $spacing-unit;

    .pull {
        img {
            max-height: 250px;

            @include media-query($on-palm) {
                max-width: 100%;
                max-height: inherit;
            }
        }

        figure {
            float: right;
            text-align: center;
            margin-left: 20px;

            @include media-query($on-palm) {
                float: none;
                margin-left: 0;
            }
        }
        @include media-query($on-palm) {
            clear: both;
            overflow: hidden;
            display: block
        }

    }

    h2 {
        font-family: $base-font-family;
        font-size: $medium-font-size;
        color: #fff;
        line-height: 1.7;
        padding-left: 9px;

        @each $section in $sections {
            .#{nth($section, 1)} & {
                background-color: nth($section, 2);
            }

            .#{nth($section, 1)} & small {
                color: nth($section, 2);
            }
        }

        @include media-query($on-laptop) {
            font-size: 28px;
        }

    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    hr {
        height: 1px;
        margin-bottom: 1em;
        margin-top: 1em;
        clear: both;
    }

    a:hover {
        text-decoration: underline;
    }

    @each $section in $sections {
        .#{nth($section, 1)} & a {
            color: nth($section, 2);
        }

        .#{nth($section, 1)} & hr {
            background: nth($section, 2);
        }

        .#{nth($section, 1)} &  .summary {
            color: nth($section, 2);
            font-size: 20px;
            line-height: 1.3;
        }
    }

}

/* Grid */
.pull-grid {
    .indicator {
        margin-left: 0.5em;
    }

    h2 {
        overflow: hidden;
    }

    li {
        border-bottom: 2px solid black;
        list-style: none;
        clear: both;
        overflow: hidden;
        margin-bottom: 1.5em;
    }

    li:nth-child(odd) figure {
        float: left;
        margin-left: 0;
        margin-right: 20px;
     }

    @each $section in $sections {
        .#{nth($section, 1)} & li {
            border-color: nth($section, 2);
        }
    }
}

/***
* Gallery
***/
// .grid-sizer { width: 33%; }
// #gallery li { list-style: none; }
// #gallery {margin:0;}
#gallery {
    clear: both;
    display: block;
    overflow: hidden;
    ul {margin-left:0;}
    li { list-style: none;
    float: left; }
}

.gallery {

    .grid-wrap {
        margin: 0 auto;
        padding: 0 1em 1.875em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: calc(33.3% - 7px);
            width: -webkit-calc(calc(33.3% - 7px));
            // float: left;
            cursor: pointer;

            @include media-query($on-palm) {
                width: calc(100%);
                width: -webkit-calc(calc(100%));

            }

            &:hover figure {
                opacity: 0.7;
            }
        }

        .item {
            @each $section in $sections {
              .#{nth($section, 1)} & {
                border: 1px solid nth($section, 2);
              }

              .#{nth($section, 1)} & a{
                color: nth($section, 2);
              }
            }
        }

    }

    figure {
        margin: 0;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;


        figcaption {
            background: #fff;
            padding: 15px 0;
        }

        img {
            display: block;
            width: 100%;
            margin-bottom: 0;
        }

        h3 {
            margin: 0;
            color: #fff;
            text-align: center;
            font-size: $larger-font-size;
            line-height: 1;

            small {
                clear: both;
                display: block;
                background-color: white;
                padding-top: 10px;
                padding-left: 15px;
                padding-right: 15px;
                font-size: $small-font-size;

            }
        }

        p {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/*
* Embeds
*/

iframe {
    margin: 0 auto;
    display: block;
    margin-bottom: 1.3em;
}

/*
* Blockquotes
*/


.quote {
    margin-bottom: 3em;

    img {
        float: left;
        margin-right: 20px;
        max-width: 350px;
        max-height: 300px;
    }
}


/* in numbers */
.in-numbers {
    h2{
        clear: both;
    }
    iframe {
        float: left;
        margin-right: 1em;
        display: block;
    }
}

.how-it-was {
    iframe {
        margin-top: 2em;
    }
}

/**/

strong {
    text-transform: uppercase;
}

/* Forms */

form {

    float: left;
    width: 40%;
    margin-right: 5em;

    @include media-query($on-palm) {
        width: 90%;
    }

    .btn {
        font-family: $base-font-family;
        color: #fff !important;
        padding: 0.3em 0.5em;
        border: none;
        @each $section in $sections {
            .#{nth($section, 1)} & {
                background-color: nth($section, 2);
            }
        }
    }
    .form-group {
        margin-bottom: 0.5em;
    }
}

.signup-label {
    padding: 0.5em 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.3em 0.5em;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* footer*/
.site-footer {
    padding-top: 0;
}
footer {
    h2 {
        font-family: $base-font-family;
        line-height: 4em;
        text-align: center;
        background-color: #fff;
        font-size: 20px;

        a, a:visited {
            color:$text-color;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .cc-wrapper {
        background: url("http://i.creativecommons.org/l/by/4.0/88x31.png") no-repeat 0.5em 0.8em #666;
        padding-left: 101px;
        line-height: 2em;
        color: #fff;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        overflow: hidden;
    }

    .cc {
        width: 50%;
        line-height: 1.3em;
        margin-bottom: 0;
        float: left;

        a:hover {
            text-decoration: underline;
            color:#ff5343;
        }
    }
    .credits {
        text-transform: uppercase;
        float: right;
        line-height: 2.4em;
        margin-right: 1em;
        margin-bottom: 0;

        a {
            color: #fff;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .creators {
        text-align: center;
        font-size: 13px;

        a {
            color: #999 !important;
        }

        a:hover {
            text-decoration: underline;
        }
    }

}

